@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@100..900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    font-family: "Heebo", sans-serif;
    color: #21243d;
}
/* nav area  */

/* mobile app  */

.navbar ul {
    display: flex;
    justify-content: center;
    margin: auto;
    gap: 2rem;
    list-style: none;
    margin-top: 27px;
    font-weight: 500;
}
a {
    text-decoration: none;
    color: #000000;
}



/* desktop app  */


@media (min-width:618px) {
    .navbar ul {
        gap: 5rem;
    }
}

@media (min-width: 992px) {
    .navbar ul {
        justify-content: right;
        margin-right: 3rem;
        gap: 2rem;
    }
    }